[gcode_macro PRINT_START]
gcode:
  {% set BED = params.BED|default("60")|float %}
  {% set EXTRUDER = params.EXTRUDER|default("190")|float %}
  {% set nozzle = params.NOZZLE|default(0.4)|float %}
  {% set filament = params.FILAMENT|default('None')|string %}
#  {% set runout = printer["filament_switch_sensor filament_sensor"] %}

  PRESSURE_ADVANCE_SELECT NOZZLE={nozzle} FILAMENT="{filament}"

  M117 Warmup
  M190 S{BED} ; Heat bed
  M109 S150 ; Preheat hotend
  
  G28

#  {% if not runout.filament_detected %}
#    RESPOND MSG="Please insert filament before starting"
#    M0
#  {% endif %}
  G92 E0 ;Reset Extruder
  M117 "Bed mesh"
  ADAPTIVE_BED_MESH
  M117 "Purge line"
  G1 Z2.0 F3000 ;Move Z Axis up
  G1 X10.1 Y20 Z3 F5000.0 ;Move to start position
  M109 S{EXTRUDER|int} ; Heat hotend at correct temperature
  G1 X10.1 Y20 Z0.28 F5000.0 ;Move to start position
  G1 X10.1 Y200.0 Z0.28 F1500.0 E15 ;Draw the first line
  G1 X10.4 Y200.0 Z0.28 F5000.0 ;Move to side a little
  G1 X10.4 Y20 Z0.28 F1500.0 E30 ;Draw the second line
  G92 E0 ;Reset Extruder
  G1 Z2.0 F3000 ;Move Z Axis up
  M117 "Printing"
  _START_LAYER_COUNTER

[gcode_macro PRINT_END]
gcode:
  {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
  {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}

  M117 "Print end"
  {% if printer.save_variables.variables.notification_print_end %}
    RESPOND PREFIX=tgnotify MSG="Print end"
  {% endif %}

  G91 ;Relative positioning
  G1 E-2 F2700 ;Retract a bit
  G1 E-2 Z0.2 F2400 ;Retract and raise Z
  G1 X5 Y5 F3000 ;Wipe out
  G1 Z10 ;Raise Z more
  G1 E-3 F300;Retract 3mm
  G90 ;Absolute positioning
  
  G1 X{x_park} Y{y_park} F3000.0;Present print
  M106 S0 ;Turn-off fan
  M104 S0 ;Turn-off hotend
  M140 S0 ;Turn-off bed
  _STOP_LAYER_COUNTER

  M84 X Y E ;Disable all steppers but Z  